* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(90, 86, 86);
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: rgb(255, 235, 205);
  margin-left: 150px;
}

.heading {
  text-align: center;
  padding: 15px;
  margin: 100px;
}

.heading h2 {
  padding: 15px;
}

.heading p {
  padding: 15px;
}

.buttons button {
  padding: 10px;
  background-color: rgb(206, 199, 199);
  border: none;
}

.buttons :hover {
  background-color: rgb(58, 117, 228);
}

.thumbnails {
  display: flex;
  margin: 100px;
}

.img-content {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

img {
  padding: 15px;
  margin: 10px;
}

footer {
  margin: 100px;
  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
}
