* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(90, 86, 86);
  padding: 10px;
  width: 90%;
  margin: auto;
}

.navbar-content {
  width: 60%;
  margin: 0 auto;
}

.navbar a {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 235, 205);
}

.heading {
  text-align: center;
  padding: 15px;
  margin: 100px auto;
  width: 40%;
}

.heading p:first-child {
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  color: rgb(63, 62, 62);
}

.heading p {
  padding: 10px;
  font-family: "Raleway", sans-serif;
  color: rgba(83, 72, 72, 0.589);
}

.buttons button {
  border-radius: 5px;
  color: aliceblue;
  padding: 10px;
  background-color: rgb(95, 90, 90);
  border: none;
  margin-top: 10px;
  font-family: "Nunito", sans-serif;
}

.buttons button:first-child {
  background-color: rgb(58, 117, 228);
}

.buttons :hover {
  background-color: rgb(58, 117, 228);
}

.small-btn button {
  /* border-style: groove; */
  border-radius: 5px;
  border: 1px solid rgb(231, 225, 225);
  padding: 2px;
  font-family: "Nunito", sans-serif;
}

.min p {
  padding: 2px;
}

.thumbnails {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 60%;
  margin: auto;
  /* overflow: hidden; */
}

.img {
  border: 0.5px solid rgb(211, 206, 206);
}

.img-content {
  display: flex;
  justify-content: space-between;
  /*  */
  padding: 5px;
}

.img img {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

.img p {
  font-family: "Karla", sans-serif;
  margin: 10px;
}

img {
  padding: 15px;
  margin: 10px;
}

footer {
  width: 60%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 253);
}

footer p {
  font-size: 15px;
  line-height: 30px;
  font-family: "Raleway", sans-serif;
}
